* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.top-nav p {
    margin: 0;
    padding: 0.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 8.5pt;
}
.active {
    color: red;
} */
.card-body p {
    margin: 0;
}
.card-body {
    padding: 0.4rem;
    background: linear-gradient(90deg, rgba(230,221,200,0.33610538942139356) 0%, rgba(196,190,177,0.3333042689732143) 100%);
    color: #000;
    border-radius: 10px;
}
.pointer {
    cursor: pointer;
}
.product-title {
    font-weight: 500;
}
.nav-item .fas {
  color: #000;
}
.btn {
    background: #ada79a;
    color: #fff;
}
.cart-image {
    width: 70px;
}
.shopping-cart {
    min-width: 350px;
}
.cart-product-btn .fas {
  color: #fff;
}
.product-details .card {
  width: 40%;
  margin: 2rem auto;
  border-radius: 10px;
  padding: 1rem;
  min-height: 50vh;
}
.product-details .btn {
  padding: 10px 25px;
  font-weight: 500;
  font-size: 12pt;
  border-radius: 10px;
}
.product-details .btn:hover {
  background-color: #fff;
}
.image-width-cartProduct {
    width: 150px;
}
.image-width-cartItem {
  width: 150px;
}
.login .fab, .register .fab {
    color: #fff;
}
.link {
    color: #ada79a;
    text-decoration: underline;
    font-weight: 500;
}
.link:hover {
    color: #000;
    text-decoration: none;
}
.rounded-pill {
    background-color: #ada79a;
  }
  .nav-link:hover {
    text-decoration: underline;
  }
  .fas {
    color: #000;
  }
  .fas:hover {
    color: #ada79a;
  }
  .fa-shopping-bag {
    font-size: 15pt;
  }
  .completed-btn .fas {
    color: #fff;
  }
  .logo-text {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
  }
  .logo-img {
    width: 10rem;
  }
  .nav-link {
    z-index: 2;
  }
  .navbar-nav {
    z-index: 2;
  }
  .home .container, .new-in .container,
  .about-us .container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .fab {
    color: #ada79a;
    cursor: pointer;
  }
  .fab:hover {
    color: #000;
  }
  .logo-home {
    width: 80%;
  }
 .get-in-touch .container {
    margin-top: 5rem;
    height: 16rem;
    border-top: solid 1px black;
}
.links {
    color: #ada79a;
    text-decoration: underline;
}
a:hover {
    color: #000;
    text-decoration: none;
}
.get-in-touch h4 {
    padding-bottom: 1rem;
}
.fas {
    color: #ada79a;
}
.footer-bg, .one-order:hover {
  background: linear-gradient(90deg, rgba(230,221,200,0.33610538942139356) 0%, rgba(196,190,177,0.3333042689732143) 100%);
}
.footer-link {
  color: #ada79a;
}
.footer-link:hover {
  color: #fff;
}
.btn:hover {
  background-color: #fff;
  color: #ada79a;
}
.shopping-bag-title, .my-orders-title {
  width: 30%;
}
.about-us-logo, .logo-ordercomp,
.thankYou {
  width: 80%;
}
.order-completed .container {
  display: flex;
  padding: 3rem;
  width: 75%;
}
.orderimgcompleted {
  width: 100%;
}
.btn-admin {
  border-radius: 8px;
  padding: 5px 10px;
  border: none;
  font-weight: 500;
}
.one-order .fas {
  color: #fff;
}
.order-cart-img {
  width: 5rem;
}
.admin-image {
  width: 20%;
}
.badge {
  background-color: #ebc36d;
  color: #000;
}